html {
    font-size: 62.5%;
}

body{
    background-image: url('../images/bg-intro-mobile.png');
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

p {
    margin: 0
}

.container {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 100%, 66%, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container__description--title{
    margin: 0 10px;
    padding: 50px 5px 10px 5px;
    text-align: center;
}

.container__description--paragraph{
    text-align: center;
    padding: 0px 7px;
}

.container__access {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__access--info{
    padding: 15px 10px;
    border-radius: 7px;
    box-shadow: 1px 1px darkslateblue;
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    margin: 40px 15px 10px 15px;
}

.container__access--info p {
    padding: 0 10px;
    font-size: 1.3rem;
}

.container__access--form{
    background-color: white;
    border-radius: 7px;
    padding: 25px 10px;
    margin: 10px 15px;
}

.container__access--form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__access--form form input {
    padding: 12px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 75%;
    outline: none;
    color: black;
    border: 1px solid rgb(214, 214, 214);
}

#input-button {
    background-color:  hsl(154, 59%, 51%);
    color: white;
    padding: 15px;
    border: 0;
    border-radius:  7px;
    width: 85%;
}

.term-services {
    margin: 0;
    color: hsl(246, 25%, 77%);
    font-size: 1.2rem;
    text-align: center;
    
}

.term-services a{
    color: hsl(0, 100%, 74%, .7);
}

@media screen and (min-width: 1440px){
    .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .container__description {
        width: 50%;
        justify-self: center;
    }

    .container__access {
        width: 50%;
    }

    .container__access--info {
        width: 90%;
        margin-top: 0;
    }

    .container__access--form {
        width: 90%;
    }

    .term-services {
        font-size: 1.2rem;
        
        justify-content: center;
        
    }
}